.a { 
  display: block;
  margin-bottom: 30px;
}

.input { 
  width: 272px;
  height: 40px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 16px;
  border: 1px solid #808080;
  margin-right: 8px;
  margin-bottom: 32px;
}

.input:hover, 
.input:focus { 
  border: 1px solid #000000;
}

.input:active { 
  border: 1px solid #4E75FF;
}

.btn { 
  width: 75px;
  min-height: 40px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  background-color: #4E75FF;
}

.btn:focus,
.btn:hover { 
  background-color: #6C8CFF;
}

.btn:disabled { 
  background-color: #CFCFCF;
  color: #989898;
}

.timer { 
  display: flex;
  column-gap: 24px;
}

.field { 
  display: flex;
  flex-wrap: wrap;
  max-width: 82px;
}

.value { 
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
}

.label { 
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
}